/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 2rem 0;
}

body{
  font-family: 'gg sans', sans-serif;
  font-family: 'gg sans Normal', sans-serif;
  font-family: 'gg sans Medium', sans-serif;
  font-family: 'gg sans SemiBold', sans-serif;

}

.wave{
  background-image: url(../img/wave.svg);
  height: 50px;
  opacity: 0.07;
}
/* #endregion Common */

/* #region Debug */
.debug .container
{
  background-color: rgb(255, 166, 0);
}

.debug [class^='col-']
{
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50
{
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu
{
  border: 1px dashed;
}

.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}
/* #endregion Debug */

/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
}
.justify-content-between {
  justify-content: space-between;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  /* negative margin */
}

[class^='col-']
{
  padding: 0 1rem;
}

.col-3{
  width: calc(100% / 12 * 3);
}
.col-4
{
  width: calc(100% / 12 * 4);
}
.col-8 {
  width: calc(100% / 12 * 8);
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */
.bg_section {
  background-color: #ededed;
}

.rotate{
  transform: rotate(3.142rad);
}


/* #endregion Utility */


/* #region Header */

header {
  background-color: #3160e1;
  padding-top: 0.5rem;
}  

.logo, .login {
  width: 20%;
}

.menu {
  width: 60%;
  text-align: center;
}

.login {
  text-align: end;
}

.logo>img{
  width: 6rem;
}

.menu>a{
  padding: 1rem;
  color: #fffefe;
  text-decoration: none;
}

.login>a{
  color: black;
  text-decoration: none;
  font-size: small;
  background-color: #fffefe;
  border: 1px solid #fffefe;
  padding: 0.3rem 0.8rem;
  border-radius: 50px;
}

/* #endregion Header */


/* #region Main */
/* #region .jumbotron */

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding: 2rem 0;
  text-align: center;
  color: #fffefe;
  height: 450px; /* we might need to keep this */
}

.container-sm>h1{
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}
.container-sm>p{
  padding-bottom: 3rem;
}

.container-sm>a{
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 50px;
}
.button_left{
  color: black;
  background-color: #fffefe;
  margin-right: 1rem;
}
.button_right{
  color: #fffefe;
  background-color: #22272b;
  margin-left: 1rem;
}
/* #endregion .jumbotron */

h2{
  font-size: 2rem;
  padding-bottom: 1rem;
}
.col-4>.card{
  padding-top: 3rem;
  color: #22272b;
}

.h-50>h2, .h-50>p, .h-50>h3{
  text-align: center;
  padding-bottom: 1rem;
}

.stars{
 text-align: center;
}

h3+div{
  justify-content: center;
}

h3+div>a{
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 50px;
  color: #fffefe;
  background-color: #8ea1e1;
  margin-right: 1rem;
}

/* #endregion Main */


/* #region Footer */

footer {
  background-color: #22262a;
}
footer > .top, footer > .bottom {
  padding: 1rem 0;
}

.col-4>h2{
  color: #7289d9;
}

h2+img{
  width: 1.3rem;
}
img+select{
  color: #fffefe;
  background-color: #22262a;
  border: none;
}

.social{
  color: #fffefe;
  padding-top: 0.8rem;
}
.fa-brands{
  padding-right: 1.5rem;
}

h4{
  font-size: large;
  color: #7289d9;
  padding-top: 0.5rem;
}

li{
  list-style: none;
  color: #fffefe;
  font-size: 0.9rem;
}

hr{
  width: 80%;
  margin: auto;
  border: solid 1px #303948;
}

.sign-up_button{
  color: #fffefe;
  background-color: #8ea1e1;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  border-radius: 50px;
  font-size: small;

}

/* #endregion Footer */